<!DOCTYPE html>
<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .nav-icon {
            font-size: 1.25rem;
            margin-bottom: 0.25rem;
        }
        .d-flex{
            display: flex;
            margin-right: 1.5rem;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <%# <a class="navbar-brand" href="#">Navbar</a> %>
        <img src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active d-flex flex-column align-items-center" href="#">
                        <i class="fa fa-home nav-icon"></i>
                        <%= link_to "Home", admins_path, class: "text-decoration-none" %>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex flex-column align-items-center" href="#">
                        <div class="position-relative">
                            <i class="fa fa-envelope-o nav-icon"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">11</span>
                        </div>
                        Link
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled d-flex flex-column align-items-center" href="#">
                        <div class="position-relative">
                            <i class="fa fa-envelope-o nav-icon"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">11</span>
                        </div>
                        Disabled
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex flex-column align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="position-relative">
                            <i class="fa fa-envelope-o nav-icon"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">11</span>
                        </div>
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            
           
            
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

             <ul class="navbar-nav mb-2 mb-lg-0 me-3">
                <li class="nav-item">
                    <a class="nav-link d-flex flex-column align-items-center" href="#">
                        <div class="position-relative">
                            <i class="fa fa-bell nav-icon"></i>
                            <%# <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">11</span> %>
                        </div>
                        <%= link_to "Login", new_session_path(:admin), class: "text-decoration-none" %>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex flex-column align-items-center" href="#">
                        <div class="position-relative">
                            <i class="fa fa-globe nav-icon"></i>
                            <%# <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">11</span> %>
                        </div>
                        <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "text-decoration-none" %>

                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>