<div class="card shadow-lg p-4" style="max-width: 600px; margin: 0 auto;">
  <div class="card-body">
    <h5 class="card-title text-center mb-4">Hello <%= @resource.email %>!</h5>

    <p class="card-text">Someone has requested a link to change your password. You can do this through the link below:</p>

    <div class="d-grid gap-2 mt-4">
      <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary btn-lg' %>
    </div>

    <p class="card-text mt-4">If you didn't request this, please ignore this email.</p>
    <p class="card-text">Your password won't change until you access the link above and create a new one.</p>
  </div>
</div>
